        
.image
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	opacity: 0.2;
}

.traveler-input {
	-border-color: green;
   background-color:rgba(0,0,0,0) !important;
   border:none !important;
   font-size: 30pt;
   color: green;
}

.font-size-lg { font-size: 6rem; }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	.font-size-lg
	{
		font-size: 5em;
	}
}

.traveler-tbl
{
	margin: 3em;
}

.traveler-button {
	background-color: green;
	border: 0px;
}
